<app-top-menu></app-top-menu>

<mat-card class="jumbotron">
    <div class="jumbotron_container">
        <h1 class="jumbotron_title">{{ page_title }}</h1>
        <span class="jumbotron_subject">"{{ page_subject }}"</span>
    </div>   
</mat-card>

<mat-card style="max-width: 300px;margin-top: -50px;margin-left: 400px">
    <img src="assets/img/dragon.jpg" style="max-width: 300px">
</mat-card>

<span class="error_message">
    "{{ this.error_message }}"
</span>

<span *ngIf="this.securityService.userIdentity.authenticated">
    <!-- <app-user></app-user> -->
</span>