.jumbotron {
  background-position-y: center;
  background-size: 100%;
  height: 250px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 0;
}

.jumbotron_container {
  padding-left: 50px;
}

.jumbotron_title {
  font-size: 5em;
  padding: 10px;
  font-style: bold;
}

.jumbotron_subject {
  font-size: 1.3em;
  color: #f1bb56;
  font-style: italic;
}

.blazon {
  padding-left: 100px;
}

.blazon>img {
  height: 220px;
}

.error_message {
  color: #f03e11;
  display: block;
  margin-left: 800px;
  margin-top: -250px;
  font-size: 3em;
}
