<!-- <mat-grid-list cols="1" rowHeight="64px">
    <mat-grid-tile>
        <app-top-menu></app-top-menu>
    </mat-grid-tile>
</mat-grid-list> -->

<app-top-menu></app-top-menu>

<mat-grid-list cols="1" rowHeight="280px">
    <mat-grid-tile class="jumbotron" [style.background-image]="'url(\'../../../assets/img/keycloak-bg.png\')'">
        <div class="logo">
            <img src="assets/img/keycloak_logo.png">
        </div>
        <div class="jumbotron_container">
            <h1 class="jumbotron_title">{{ page_title }}</h1>
            <span class="jumbotron_subject">"{{ page_subject }}"</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
        <span *ngIf="!this.securityService.userIdentity.authenticated">
            <span class="welcome_message">No user is authenticated, click on Login in the top menu</span>
        </span>        
        <span *ngIf="this.securityService.userIdentity.authenticated">        
            <span class="welcome_message">The user {{ this.userFirstName }} is correctly authenticated</span>
        </span>
    </mat-grid-tile>
</mat-grid-list>

<span *ngIf="this.securityService.userIdentity.authenticated">
    <app-user></app-user>
</span>