<mat-toolbar class="navbar" [ngStyle]="{'background-color': this.menuColor}">

    <span>{{ title }}</span>

    <button mat-button routerLink="/">
        Home
    </button>

    <button mat-button routerLink="/public" matTooltip="No Role/Group/Attribute is needed">
      Public
    </button>

    <span *ngIf="this.userService.isAuthenticated()">

        <button mat-button routerLink="/private" *ngIf="this.userService.hasRole('user') || this.userService.hasRole('admin')" matTooltip="Need Role 'admin' or 'user'">
          Private
        </button>
        <span matTooltip="Need Role 'admin' or 'user'" *ngIf="!this.userService.hasRole('user') && !this.userService.hasRole('admin')">
          <button mat-button  disabled>
            Private
          </button>
        </span>


        <button mat-button routerLink="/admin" *ngIf="hasRole(['admin'])" matTooltip="Need Role 'admin'">
          Admin
        </button>
        <span matTooltip="Need Role 'admin'" *ngIf="!hasRole(['admin'])">
          <button mat-button  disabled>
            Admin
          </button>
        </span>

    </span>

    <span class="fill-space"></span>

    <span *ngIf="this.userService.isAuthenticated()">
        <button mat-button class="fill-space" [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            {{ this.userService.currentUser.fname }} {{ this.userService.currentUser.lname }}
        </button>

        <mat-menu #userMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
            <button mat-menu-item (click)="accountManagement()">
                <span>Account configuration</span>
            </button>
        </mat-menu>
    </span>

    <span *ngIf="!this.userService.isAuthenticated()">
        <button mat-button (click)="login()">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </span>

</mat-toolbar>
