<mat-toolbar class="navbar" [ngStyle]="{'background-color': this.menu_color}">

    <span>{{ title }}</span>

    <span>
        <button mat-button routerLink="/">
            Home
        </button>
    </span>

    <!-- <span *ngIf="securityService.userIdentity.authenticated">

        <button mat-button routerLink="/public" *ngIf="hasRole(['User','Admin'])">
            Public
        </button>
        <button mat-button *ngIf="!hasRole(['User', 'Admin'])" disabled>
            Public
        </button>

        <button mat-button routerLink="/private" *ngIf="hasRole(['Admin'])">
            Private
        </button>
        <button mat-button *ngIf="!hasRole(['Admin'])" disabled>
            Private
        </button>

    </span> -->

    <span class="fill-space"></span>

    <span *ngIf="securityService.userIdentity.authenticated">
        <button mat-button class="fill-space" [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            {{ currentUser.name }}
        </button>

        <mat-menu #userMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
            <button mat-menu-item (click)="accountManagement()">
                <span>Account configuration</span>
            </button>
        </mat-menu>
    </span>

    <span *ngIf="!securityService.userIdentity.authenticated">
        <button mat-button (click)="login()">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </span>

</mat-toolbar>